## Folders
.node-persist/
node_modules/
tools/

## File extensions

## Specific files
package-lock.json
credentials.json
capital.json
config.json
token.json

deploy-commands.js
oldSheets.js

.env
# Commands
