## Folders
.node-persist/
node_modules/
commands/

## File extensions

## Specific files
package-lock.json
credentials.json
capital.json
config.json
token.json

deploy-commands.js
oldSheets.js
# Commands
